<?xml version='1.0' encoding='utf-8'?>
<cafe_settings>
  <general>
    <cafe_name>My Internet Cafe</cafe_name>
    <currency>USD</currency>
    <timezone>UTC</timezone>
    <test_key>test_value</test_key>
  </general>
  <network>
    <server_port>8080</server_port>
    <broadcast_interval>30</broadcast_interval>
  </network>
  <supabase>
    <url>your_supabase_url</url>
    <key>your_api_key</key>
  </supabase>
</cafe_settings>
